﻿@page
@model JalaliTest.Web.Pages.Clients.CreateModel
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@{
    Layout = null;
}
<abp-dynamic-form abp-model="CreateClientDto" asp-page="/clients/Create">
    <abp-modal>
        <abp-modal-header title="AddClient"></abp-modal-header>
        <abp-modal-body>
            <abp-form-content />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</abp-dynamic-form>