﻿@page
@using JalaliTest.Web.Pages.Clients
@model JalaliTest.Web.Pages.Clients.IndexModel

@section scripts{ 
    <abp-script src="/pages/clients/index.js"></abp-script>
}

<abp-card>
    <abp-card-header>
        <h2></h2>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title><h2>Clients</h2></abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-right">
                <abp-button id="AddClientButton"
                            text="Add Client"
                            icon="plus"
                            button-type="Primary"/>
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="ClientsTable"></abp-table>
    </abp-card-body>
</abp-card>