﻿@page
@model JalaliTest.Web.Pages.Vehicles.IndexModel
@section scripts{
    <abp-script src="/pages/vehicles/index.js"></abp-script>
}

<abp-card>
    <abp-card-header>
        <h2></h2>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title><h2>Vehicles</h2></abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-right">
                <abp-button id="AddVehicleButton"
                            text="Add Vehicle"
                            icon="plus"
                            button-type="Primary" />
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="VehiclesTable"></abp-table>
    </abp-card-body>
</abp-card>