﻿@page
@model JalaliTest.Web.Pages.RentalTimes.CreateModel
@{
    Layout = null;
}
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal

<abp-dynamic-form abp-model="RentalTimeViewModel" asp-page="/RentalTimes/Create">
    <abp-modal>
        <abp-modal-header title="Set price and date to rent"></abp-modal-header>
        <abp-modal-body>
            <abp-form-content />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</abp-dynamic-form>