﻿@page
@model JalaliTest.Web.Pages.RentalTimes.IndexModel
@section scripts{
    <abp-script src="/pages/rentaltimes/index.js"></abp-script>
}

<abp-card>
    <abp-card-header>
        <h2></h2>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title><h2>RentalTimes</h2></abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-right">
                <abp-button id="AddRentalTimeButton"
                            text="Add Rental Time"
                            icon="plus"
                            button-type="Primary" />
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="RentalTimesTable"></abp-table>
    </abp-card-body>
</abp-card>